.letter-header {
  background-color: $red;
  padding-top: 40px;

  .wrapper-inner {
  	padding-top: 40px;
  }

  img {
    color: white;
  }

  &__container {
    padding-bottom: 5px !important;
  }

  &__date {
    padding-right: 16px;
    padding-bottom: 16px;
    margin:0px;
    color: $white;
    font-size: 12px;
    font-family: SourceSansPro,sans-serif;
    font-weight: 400;
  }
}

.letter-intro {

  .wrapper-inner {
    padding-top: 16px;
    padding-bottom: 0px !important;
  }

  h2 {
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom:0px;
    margin: 0px;
    color: #4A4A4A;
  }

  h3 {
    font-size: 16px;
    color:$dark-gray;
    font-weight: bold;
    margin: 0px;
    font-family: SourceSansPro,sans-serif;
  }
}

.sign-off {


  &__text {
    color: $text-gray;
    font-family: SourceSansPro,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    line-height: 1.5;
    padding: 0px 0px 10px 0px;
    //padding-top:0px;
  }


  a{
    color: $dark-blue;
    text-decoration: none;
  }
}

.letter-footer {

  &__title {
    font-family: Helvetica, Arial, sans-serif;
    color: $red;
    font-size: 50px;
    margin-bottom: 0;
    line-height: 1.0;
    padding-left: 16px;

  }
  &__readers {
    font-size: 12px;
    color: $dark-gray;
    padding-left: 16px;
    margin-bottom: 0px;
  }
  &__social {

    .text-right{
      white-space: nowrap;
    }

    th {
      padding-right: 5px;
      font-family: SourceSansPro,sans-serif;
      font-weight: 400;
      color: #4A4A4A;
    }
  }

  p {
    padding-top: 10px;
    padding-right: 16px;
    font-size: 12px;
    color: $dark-gray;
  }
}
