<wrapper class="article {{class}}">
  <row>
    <columns>
      <h4 class="article__title">
        {{{ title }}}
      </h4>
    </columns>
  </row>

  <row>
    <columns large="6">
      <wrapper class="image">
        {{#if url }}
        <img height="240" width="240" alt="{{ alt }}" src="{{ url }}">
        {{else}}
        <img alt="placeholder" src="assets/img/400x400.png">
        {{/if}}

        {{#if caption}}
        <p class="image__caption text-center">
          {{caption}}
        </p>
        {{/if}}
      </wrapper>
    </columns>
    <columns large="6">
      <p class="article__content">
        {{{ content }}}
      </p>
    </columns>
  </row>

  {{> article-footer }}
</wrapper>
