<container class="header">
  <row>
    <columns class="email-footer">
      <p class="email-footer__text">
        Want more news? Sign up to out <a href="https://www.google.co.uk">daily newsletters</a>
        <br>
        Had this email forwarded to you? Sign up to you <a href="https://www.google.co.uk">newsletters</a>
        <br>
        Please send feedback to <a href="https://wwww.google.co.uk">daily@nature.com</a>
        <br>
        <a href="https://www.google.co.uk">Unsubscribe</a> anytime
        <br>
        To view our Privacy Policy please follow <a href="https://www.google.co.uk">this link.</a>
        <br>
        Springer Nature | One New York Plaza, Suite 4500 | New York | NY 10004-1562 | USA
      </p>

      <p class="email-footer__locations">
        Springer Nature | Principal offices:
      </p>
      <p class="email-footer__offices">
        London | New York and Tokyo, and offices in cities worldwide including Basingstoke | Barcelona | Boston | Buenos Aires | Cairo | Delhi | Heidelberg | Shanghai | Madrid | Melbourne | Mexico City | Mumbai | Munich | Paris | San Francisco | Sao Paulo | Seoul and Washington DC. Macmillan Publishers Limited is a company incorporated in England & Wales under company number 785998 & whose registered office is located at The Campus, 4 Crinan Street, London, N1 9XW. Springer Nature | One New York Plaza, Suite 4500 | New York | NY 10004-1562 | USA
      </p>

      <p class="email-footer__copy">
        © 2017 Springer Nature, part of Macmillan Publishers Limited. All rights reserved.
      </p>
    </columns>
  </row>
</container>
