
<row class="sign-off">
  <columns>

    <p class="sign-off__text">
      Like our new look? Tell us what you think! Drop us a line: briefing@nature.com
    </p>

    <p class="sign-off__text">
      Forwarded by a friend? Cut out the middle-man: subscribe for free.
    </p>

    <p class="sign-off__text">
      For daily scrience news, check in <a href="https://www.nature.com/news">at www.nature.com/news;</a>
      <br />
      <a href="https://www.google.co.uk">@NatureNews</a> on Twitter; or on our <a href="https://www.google.co.uk">Facebook page.</a>
    </p>
  </columns>
</row>

{{> divider }}

<wrapper class="letter-footer">
  <row>
    <columns>
      <div class="letter-footer__title">
        <img height="35" alt="nature" src="assets/img/1_nature-briefing-logo_red.png"/>
      </div>

      {{#if readers }}
      <p class="letter-footer__readers">
        {{ readers }} newsletter readers
      </p>
      {{/if }}

    </columns>
    <columns class="letter-footer__social" valign="middle">
      <row valign="middle">

        <th class="columns expander"></th>

        <th class="text-right" valign="middle">
          Join our community
        </th>

        <th class="" valign="middle">
          <a href="https://www.google.co.uk">
            <img height="35" width="35" alt="twitter" src="assets/img/twitter_circle.png"/>
          </a>
        </th>

        <th class="" valign="middle">
          <a href="https://www.google.co.uk">
            <img height="35" width="35" alt="facebook" src="assets/img/facebook_circle.png"/>
          </a>
        </th>
      </row>
    </columns>
  </row>
</wrapper>
