<wrapper class="podcast article bg-light-gray">
  <row>
    <columns large="4" class="text-left">
      <wrapper class="image">
        <img height="150" width="150" alt="Nature Podcast logo" src="assets/img/podcast.png"/>
      </wrapper>
    </columns>
    <columns large="8">
      <h4 class="article__title">
        Nature Podcast
      </h4>
      <p class="article__content">
        <b>Predictive policing</b>
        <br />
        What are the pros and pitfalls of predicting crimes?
        <a href="https://www.google.co.uk">Comment: Reform predictive policing</a>
        <br />
        <span class="text-light">
          Jeffrey Brantingham
        </span>
      </p>
    </columns>
  </row>
</wrapper>
