<wrapper class="podcast article bg-light-gray">
  <row>
    <columns large="4" class="text-left">
      <wrapper class="image">
        <img height="150" width="150" alt="Nature Podcast logo" src="assets/img/podcast.png"/>
      </wrapper>
    </columns>
    <columns large="8" class="article__title">
      <h4>
        Nature Podcast
      </h4>
      <p class="article__content">
        <b>{{ title }}</b>

        <br />

        {{{ content }}}

        <br />

        <span class="text-light">
          {{ author }}
        </span>
      </p>
    </columns>
  </row>
</wrapper>
